<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../styles/common-styles/form.css" />
    <link rel="stylesheet" href="../styles/forgot-password/forgot-password-style.css" />
    <link rel="shortcut icon" href="../resources/favicon/comboard-favicon.ico" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/36e821784c.js" crossorigin="anonymous"></script>
    <script defer src="../js/forgot-password/forgot-password.js"></script>
  </head>
  <body>
    <img id="logo-header" src="../resources/comboard-logo/main-logo-transparent.png" alt="Comboard Logo" />
    <div class="pop-up--window hidden">
      <button class="close-btn">&times;</button>
      <h1 id="primary-header--id" class="primary-header text-center">Retrieve your account</h1>
      <h3 id="secondary-header--id" class="secondary-header text-center">Four simple steps and your account is back!</h3>
      <!-- Progress bar -->
      <div class="progressbar">
        <div class="progress" id="progress"></div>
        <div id="step-1" class="progress-step progress-step-active" data-title="Account">1</div>
        <div id="step-2" class="progress-step" data-title="Confirm">2</div>
        <div id="step-3" class="progress-step" data-title="New Password">3</div>
        <div id="step-4" class="progress-step" data-title="Completed!">4</div>
      </div>
      <!-- Step 1 -->
      <form class="form-step form-step-active">
        <div class="box-shadow">
          <h5 class="form-title">Account Information</h5>
          <div class="input-group">
            <input type="email" name="email" id="email" class="input-field" placeholder="Email" />
          </div>
        </div>
        <div class="">
          <input type="button" class="btn btn-next width-50 mc-auto" value="Next Step" />
        </div>
      </form>
      <!-- Step 2 -->
      <form class="form-step">
        <div class="box-shadow">
          <h5 class="form-title">Verify the code you received via email</h5>
          <div class="input-group">
            <input type="text" name="code" id="code" class="input-field" placeholder="Code" />
          </div>
        </div>
        <div class="btns-group">
          <input type="button" class="btn btn-prev" value="Previous Step" />
          <input type="button" class="btn btn-next" value="Next Step" />
        </div>
      </form>
      <!-- Step 3 -->
      <form class="form-step">
        <div class="box-shadow">
          <h5 class="form-title">Create new Password!</h5>
          <div class="input-group">
            <input type="password" name="password" id="newPassword" class="input-field" placeholder="New Password" />
          </div>
          <div class="input-group">
            <input type="password" name="confirmPassword" id="newConfirmPassword" class="input-field" placeholder="Confirm new Password" />
          </div>
        </div>
        <div class="">
          <input type="button" id="btn-last-next" class="btn btn-next width-50 mc-auto" value="Next Step" />
        </div>
      </form>
      <!-- Step 4 -->
      <div class="form-step">
        <div class="">
          <a href="#" class="btn btn-final width-50 mc-auto">Go to Login</a>
        </div>
      </div>
    </div>
    <div class="overlay hidden"></div>
  </body>
</html>
