<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/common-styles/default-font-styles.css" />
    <link rel="stylesheet" href="../styles/common-styles/form.css" />
    <link rel="stylesheet" href="../styles/login-register/login-register-style.css" />
    <link rel="icon" type="image/x-icon" href="../resources/favicon/comboard-favicon.ico" />
  </head>

  <body>
    <nav>
      <img src="../resources/comboard-logo/main-logo-transparent.png" width="100" />
    </nav>

    <div class="box">
      <img src="../resources/favicon/comboard-favicon.ico" width="70" />
      <h2>Login</h2>
      <h4>Sign In to your account</h4>
      <form>
        <input id="username" class="login-form" type="text" placeholder="Username" />
        <input id="password" class="login-form" type="password" placeholder="Password" />
        <input id="login-btn" type="button" value="Login" />
      </form>
      <a id="forgot-password" href="#">Forgot Password?</a>
      <div class="raw-line">
        <div class="hr-line">
          <hr />
        </div>
        <div class="hr-line">
          <p>or</p>
        </div>
        <div class="hr-line">
          <hr />
        </div>
      </div>
      <h4 id="alternative-sign-in">Sign in with</h4>
      <ul>
        <li>
          <button class="alternative-login"><img class="alternative-login-img" src="../resources/images/login-register/google-logo-32px.png" /></button>
        </li>
        <li>
          <button class="alternative-login"><img class="alternative-login-img" src="../resources/images/login-register/linkedin-logo-50px.png" /></button>
        </li>
        <li>
          <button class="alternative-login"><img class="alternative-login-img" src="../resources/images/login-register/apple-logo-64px.png" /></button>
        </li>
      </ul>
    </div>
    <p id="create-account">New to Comboard?<a id="join-now" href="#">Join Now!</a></p>
  </body>
</html>
