<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="../styles/login-register/login-register-style.css" />
    <link rel="icon" type="image/x-icon" href="../resources/images/login-register/comboard_favicon-removebg.png" />
  </head>

  <body>
    <nav>
      <img src="../resources/images/login-register/logo.png" width="100" />
    </nav>

    <div class="box">
      <img src="../resources/images/login-register/comboard_favicon.png" width="70" />
      <h2>Join Our Community!</h2>
      <h4>Create an acount fast and simple!</h4>
      <form>
        <input id="firstname" class="login-form" type="text" placeholder="Firstname" />
        <input id="surname" class="login-form" type="text" placeholder="Surname" />
        <input id="username" class="login-form" type="text" placeholder="Username" />
        <input id="email" class="login-form" type="email" placeholder="Email" />
        <input id="password" class="login-form" type="password" placeholder="Password" />
        <input id="confirm-password" class="login-form" type="password" placeholder="Confirm Password" />
        <input id="login-btn" type="button" value="Agree & Join" />
      </form>
      <p id="password-mandatory">Use 8 or more characters with a combination of letters, numbers and symbols</p>
      <p id="agreement">
        By clicking Agree & Join, you agree to the comboard <a href="">User Agrement</a>, <a href="#">Privacy Policy</a> and
        <a href="#">CooKie Policy</a>
      </p>

      <div class="raw-line">
        <div class="hr-line">
          <hr />
        </div>
        <div class="hr-line">
          <p>or</p>
        </div>
        <div class="hr-line">
          <hr />
        </div>
      </div>

      <h4 id="alternative-sign-in">Join using your:</h4>
      <ul>
        <li>
          <button class="alternative-login"><img class="alternative-login-img" src="../resources/images/login-register/icons8_google_32px.png" /></button>
        </li>
        <li>
          <button class="alternative-login"><img class="alternative-login-img" src="../resources/images/login-register/icons8_linkedin_2_50px.png" /></button>
        </li>
        <li>
          <button class="alternative-login"><img class="alternative-login-img" src="../resources/images/login-register/icons8_Apple_Logo_64px.png" /></button>
        </li>
      </ul>
    </div>
    <p id="create-account">Already member of comboard?<a id="join-now" href="#">Login!</a></p>
  </body>
</html>
