<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="../public/styles/common-styles/default-font-styles.css" />
    <link rel="stylesheet" href="../public/styles/common-styles/form.css" />
    <link rel="stylesheet" href="../public/styles/login-register/login-register-style.css" />
    <link rel="icon" type="image/x-icon" href="../public/resources/favicon/comboard-favicon.ico" />
  </head>
  <body>
    <nav>
      <img src="../public/resources/comboard-logo/main-logo-transparent.png" width="100" />
    </nav>
    <div class="box">
      <img src="../public/resources/favicon/comboard-favicon.ico" width="70" />
      <h2>Join Our Community!</h2>
      <h4>Create an account fast and simple!</h4>
      <form action="/register/submit" method="post">
        <input id="firstname" name="firstname" type="text" placeholder="Firstname" />
        <input id="surname" name="surname" type="text" placeholder="Surname" />
        <input id="username" name="username" type="text" placeholder="Username" />
        <input id="email" name="email" type="email" placeholder="Email" />
        <input id="password" name="password" type="password" placeholder="Password" />
        <p id="password-mandatory">Use 8 or more characters with a combination of letters, numbers and symbols</p>
        <input id="confirm-password" name="confirmedPassword" type="password" placeholder="Confirm Password" />
        <input id="login-btn" type="submit" value="Agree & Join" />
        <p id="agreement">By clicking Agree & Join, you agree to the comboard <a href="">User Agrement</a>, <a href="#">Privacy Policy</a> and <a href="#">CooKie Policy</a></p>
      </form>
      <div class="raw-line">
        <div class="hr-line">
          <hr />
        </div>
        <div class="hr-line">
          <p>or</p>
        </div>
        <div class="hr-line">
          <hr />
        </div>
      </div>
      <h4 id="alternative-sign-in">Join using your:</h4>
      <ul>
        <li>
          <button class="alternative-login"><img class="alternative-login-img" src="../public/resources/images/login-register/google-logo-32px.png" /></button>
        </li>
        <li>
          <button class="alternative-login"><img class="alternative-login-img" src="../public/resources/images/login-register/linkedin-logo-50px.png" /></button>
        </li>
        <li>
          <button class="alternative-login"><img class="alternative-login-img" src="../public/resources/images/login-register/apple-logo-64px.png" /></button>
        </li>
      </ul>
    </div>
    <p id="create-account">Already member of comboard?<a id="join-now" href="/login">Login!</a></p>
  </body>
</html>
