nav {
  display: flex;
  justify-content: left;
}

body {
  font-size: small;
}

.box {
  display: block;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 25%;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input {
  width: 70% !important;
}

form {
  margin-top: 10px;
}

h2,
h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 2px;
}

h4 {
  color: #a0a6b0;
}

#alternative-sign-in {
  background-color: #d9d9d9;
  border-radius: 15px;
  margin: auto;
  width: 30%;
}

.raw-line {
  display: flex;
  justify-content: space-around;
}

hr {
  width: 6rem;
}

#forgot-password {
  display: flex;
  justify-content: space-around;
  padding-right: 170px;
  color: #1a75ff;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.alternative-login {
  border: none;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.alternative-login-img {
  width: 35px;
  height: 35px;
}

#create-account {
  text-align: center;
  font-size: medium;
}

#join-now {
  color: #1a75ff;
  text-decoration: none;
  margin-left: 10px;
}

#agreement,
#password-mandatory {
  text-align: center;
  font-size: x-small;
  padding-left: 40px;
  width: 75%;
}

@media screen and (max-width: 1283.2px) {
  .box {
    width: 30%;
  }

  #forgot-password {
    padding-right: 60px;
  }
}

@media screen and (max-width: 919.11px) {
  .box {
    width: 40%;
  }
}

@media screen and (max-width: 750.4px) {
  .box {
    width: 45%;
  }

  #forgot-password {
    padding-right: 70px;
  }
}

@media screen and (max-width: 576.89px) {
  .box {
    width: 60%;
  }
}

@media screen and (max-width: 326.4px) {
  .box {
    width: 85%;
  }

  hr {
    width: 3.9rem;
  }

  #forgot-password {
    padding-right: 0px;
  }

  .alternative-login-img {
    width: 24px;
  }
}
