:root {
  --primary-color: #1a75ff;
  --primary-bright-color: #ffffff;
  --secondary-bright-color: #ccc;
  --primary-dark-color: #000000;
  --secondary-dark-color: #747474;
  --primary-red-color: red;
  --primary-green-color: green;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

/* Global styling */
.width-50 {
  width: 50%;
}

.mc-auto {
  margin: auto;
}

.text-center {
  text-align: center;
}

.primary-header {
  color: var(--primary-dark-color);
  font-size: 1.5rem;
  font-weight: lighter;
  margin-bottom: 5px;
}

.secondary-header {
  color: var(--secondary-dark-color);
  font-size: 1rem;
  font-weight: lighter;
  margin-top: 0;
}

.box-shadow {
  padding: 15px 20px 15px 20px;
  margin-bottom: 24px;
  border-radius: 10px;
  box-shadow: 1px 3px 4px 3px #ccc;
}

.hidden {
  display: none;
}

/* Pop-up window for the whole proccess */
.pop-up--window {
  position: absolute;
  width: clamp(320px, 40%, 530px);
  margin: 0 auto;
  border: 1px solid var(--secondary-bright-color);
  border-radius: 0.35rem;
  padding: 1.5rem;
  /* Make the pop up be on top */
  z-index: 10;
  background-color: var(--primary-bright-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5px);
  z-index: 5;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  width: 100%;
  background-color: var(--secondary-bright-color);
  z-index: -1;
}

.progress {
  background-color: var(--primary-color);
  width: 0%;
  transition: 0.5s;
}

.progress-step {
  width: 45px;
  height: 45px;
  background-color: var(--secondary-bright-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.7s;
  font-size: 1.5rem;
  color: var(--primary-bright-color);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.75rem;
  color: var(--primary-dark-color);
}

.progress-step-active {
  background-color: var(--primary-color);
}

/* Form */
.form-step {
  display: none;
  animation: animate 0.8s;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }

  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.form-step-active {
  display: block;
  margin: auto;
  width: clamp(260px, 80%, 400px);
}

.form-title {
  font-size: 0.85rem;
  color: var(--primary-dark-color);
  margin: 5px 0 0 0;
}

/* Buttons */

/* If i want to have more than one button in the same div */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

/* Button in general */
.btn-final {
  text-decoration: none;
}

.close-btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2.5rem;
  color: var(--primary-red-color);
  cursor: pointer;
  border: none;
  background: none;
}

/* Logo on header */
#logo-header {
  position: absolute;
  margin-left: 20px;
  left: 0;
  top: 0;
  width: 150px;
}

/* When the proccess is completed */
/* We add or remove the class below */
.completed {
  background-color: var(--primary-green-color) !important;
}
