:root {
  --primary-blue-color: #50a3c5;
  --primary-color: #1a75ff;
  --primary-bright-color: #ffffff;
  --secondary-bright-color: #ccc;
  --primary-dark-color: #000000;
  --secondary-dark-color: #747474;
  --primary-red-color: red;
  --primary-green-color: green;
}

/* Form in general */
form input {
  display: block;
  width: 90%;
  padding: 0.75rem;
  border: 1.5px solid var(--secondary-bright-color);
  border-color: var(--primary-blue-color);
  border-radius: 0.25rem;
  background: no-repeat left;
  padding-left: 25px;
  margin: 1rem auto;
}

/* Button in form */
form input[type="button"] {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--primary-bright-color);
  text-align: center;
  border: 2px solid var(--primary-dark-color);
  transition-duration: 0.4s;
  font-weight: bold;
}

form button,
.btn {
  padding: 0.75rem;
  display: block;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--primary-bright-color);
  text-align: center;
  border-radius: 0.25rem;
  border: 2px solid var(--primary-dark-color);
  transition-duration: 0.4s;
  font-weight: bold;
}

form input[type="button"]:hover,
form button:hover,
.btn:hover {
  filter: brightness(0.8);
}

/* Images for inputs */
#email {
  background-image: url("../../resources/images/common-images/at-sign-30px.png");
  background-size: 25px;
}

#code {
  background-image: url("../../resources/images/forgot-password/verification-code-30px.png");
  background-size: 25px;
}

#newPassword {
  background-image: url("../../resources/images/forgot-password/reset-password-30px.png");
  background-size: 25px;
}

#newConfirmPassword {
  background-image: url("../../resources/images/forgot-password/confirm-password-30px.png");
  background-size: 25px;
}

#username {
  background-image: url("../../resources/images/login-register/user-24px.png");
}

#password,
#confirm-password {
  background-image: url("../../resources/images/login-register/password-24px.png");
}
